*{
    box-sizing: border-box;
}
.topo-desktop{
    display: none;
}
body{
    font-family: 'Roboto', sans-serif;
    background-color: #fafafa;
    font-style: normal;
    display: flex;
    justify-content: center;
}
.sidebar{
    display: none;
}
.topo-mobile{
    position: fixed;
    top: 0px;
    left: 0px;
    background-color: #fff;
    border-bottom: 1px solid #DBDBDB;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 55px;
    width: 100%;
    z-index: 1;
}
.topo-mobile img{
    width: 103px;
    height: 29px;
}
.topo-mobile ion-icon{
    position: absolute;
    font-size: 22px;
}
.topo-mobile ion-icon:nth-child(1){
    left: 20px;
}
.topo-mobile ion-icon:nth-child(3){
    right: 20px;
}
main{
    width: 100%;
    margin-top: 54px;
    display: flex;
    justify-content: center;
}
.conteudo{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.stories{
    height: 121px;
    width: 100%;
    display: flex;
    justify-content: space-evenly; 
    align-items: center;
    overflow: auto;
}
.stories ion-icon{
    display: none;
}
.story{
    background-image: url("source/stories_background.png");
    background-size: 66px;
    background-repeat: no-repeat;
    background-position: top center;
    padding-top: 5px;
    width: 66px;
    min-width: 77px;
    margin: 0px 2px 0px 2px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.stories::-webkit-scrollbar {
    display: none;
  }
.story p{
    text-align: center;
    margin-top: 8px;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    color: #262626
}
.post{
    background-color: #fff;
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid #DBDBDB;
    border-top: 1px solid #DBDBDB;
    margin-bottom: 65px;
    width: 100%;
}
.cabecalho-post{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    width: 100%;
    position: relative;
}
.perfil{
    margin-left: 17px;
    width: fit-content;
    display: flex;
    align-items: center;
    flex-direction: row;
}
.perfil img{
    width: 32px;
    height: 32px;
}
.perfil p{
    margin-left: 15px;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #262626;
}
.cabecalho-post ion-icon{
    font-size: 16px;
    margin-right: 15px;
}
.rodape-post{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 45px;
    width: 100%;
    font-size: 22px;
}
.icones-esquerda{
    margin-left: 18px;
}
.icones-esquerda ion-icon{
    padding: 2px
}
.icones-direita{
    margin-right: 18px;
}
.rodape{
    position: fixed;
    bottom: 0px;
    left: 0px;
    background-color: #fff;
    width: 100%;
    height: 55px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 20px;
    border-top: 1px solid #DBDBDB;
}

@media (min-width: 614px){
    .rodape{
        display: none;
    }
    .topo-mobile{
        display: none;
    }
    .container-topo{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
    }
    .topo-desktop{
        position: fixed;
        top: 0px;
        left: 0px;
        background-color: #fff;
        border-bottom: 1px solid #DBDBDB;
        height: 55px;
        width: 100%;
        z-index: 1;
        display: flex;
        justify-content: center;
    }
    .topo-esquerda{
        position: absolute;
        left: 20px;
        display: flex;
        font-size: 22px;
    }
    .topo-esquerda img{
        width: 103px;
        height: 29px;
    }
    .topo-desktop input{
        height: 28px;
        width: 24%;
        text-align: center;
        justify-self: center;
        background-color: #fafafa;
        border: 1px solid #dbdbdb;
        border-radius: 3px;
        font-size: 12px;
        font-weight: 400;
        color: #979797;
    }
    .borda-vertical{
        width: 1px;
        height: 22px;
        background-color: #DBDBDB;
        margin-left: 10px;
        margin-right: 10px;
    }
    .topo-direita{
        position: absolute;
        right: 20px;
        width: 14%;
        min-width: 92px;
        display: flex;
        align-items: center;
        justify-content: space-around;
        font-size: 22px;
    }
    main{
        margin-top: 88px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .stories{
        width: 614px;
        background-color: #fff;
        border: 1px solid #DBDBDB;
        margin-bottom: 24px;
    }
    .stories ion-icon{
        display: inline;
        font-size: 32px;
        color: #fff;
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    }
    .post{
        background-color: #fff;
        width: 614px;
        display: flex;
        flex-direction: column;
        border: 1px solid #DBDBDB;
        border-radius: 3px;
        margin-bottom: 60px;
    }
}

@media (min-width: 935px){
    .container-topo{
        width: 935px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .topo-esquerda{
        left: 0px;
    }
    .topo-direita{
        right: 0px;
    }
    main{
        flex-direction: row;
        align-items: flex-start;
        justify-content: space-between;
        position: relative;
        width: 935px;
    }
    .conteudo{
        width: fit-content;
    }
    .stories{
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
    }
    .sidebar{
        position: fixed;
        margin-left: 642px;
        display: flex;
        flex-direction: column;
        width: 293px;
        height: 100%;
    }
    .topo-sidebar{
        margin-top: 23px;
        display: flex;
    }
    .topo-sidebar img{
        width: 56px;
        height: 56px;
    }
    .topo-sidebar p{
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-left: 17px;
    }
    .sidebar p span:nth-child(1){
        color: #262626;
        font-weight: 500;
        font-size: 14px;
        line-height: 16px;
    }
    .topo-sidebar p span:nth-child(2){
        font-weight: 300;
        font-size: 14px;
        line-height: 16px;
        color: #8E8E8E;
    }
    .sidebar p span:nth-child(2){
        font-weight: 400;
        font-size: 12px;
        line-height: 14px;
        color: #8E8E8E;
    }
    .sugestoes{
        margin-top: 24px;
        display: flex;
        justify-content: space-between;
    }
    .sugestoes p:nth-child(1){
        font-weight: 500;
        font-size: 12px;
        line-height: 14px;
        color: #8E8E8E;
    }
    .sugestoes p:nth-child(2){
        font-weight: 500;
        font-size: 12px;
        line-height: 14px;
        text-align: right;
        color: #262626;
    }
    .sugestao{
        display: flex;
        margin-top: 17px;
        position: relative;
    }
    .sugestao p:nth-child(2){
        display: flex;
        margin-left: 11px;
        flex-direction: column;
    }
    .sugestao p:nth-child(3){
        position: absolute;
        right: 0px;
        align-self: center;
        font-weight: 500;
        font-size: 12px;
        line-height: 14px;
        color: #139EF2;
    }
    .rodape-sidebar p:nth-child(1){
        margin-top: 33px;
        font-weight: 400;
        font-size: 11px;
        line-height: 13px;
        color: #C7C7C7;
    }
    .rodape-sidebar p:nth-child(2){
        margin-top: 18px;
        font-weight: 400;
        font-size: 11px;
        line-height: 13px;
        color: #C7C7C7;
    }
}